<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794855571097-g4smtvv14okluf8t40g1b3duirh0i7h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794855571097-g4smtvv14okluf8t40g1b3duirh0i7h3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>794855571097-qscrcf582bsduj96p8e31dk0fd881cgr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_noFvZUHpsqehhoOAmVsr0H8zdrXFr_k</string>
	<key>GCM_SENDER_ID</key>
	<string>794855571097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlyGaming</string>
	<key>PROJECT_ID</key>
	<string>friendly-gaming-9f586</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-gaming-9f586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:794855571097:ios:2565ca15ec80c826798208</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-gaming-9f586.firebaseio.com</string>
</dict>
</plist>
